<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Wordle Solver</title>
     <style>
         body {
            background-image: url("https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?w=2000");

         }
     </style>
      <link rel="icon" type="image/x-icon" href="https://i.imgur.com/oMqNtNa.png">

  </head>
  <body>

  <div class="container bg-secondary p-5">
    <h1 class="text-white text-center">Wordle Solver</h1>
  </div>
  <br>
  <!--The code below is gonna be the error messages!11!-->
              {% with messages = get_flashed_messages() %}
                {%if messages%}
                    {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible fade show mb-3" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
              {% endwith %}

        <!--style="text-align:left; justify-content:space-between; vertical-align: middle;"-->
  <div class="container">
    <div class="row">
        <div class="column">
            <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Possible Answers</th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <th scope="row">{{words.index(word)+1}}</th>
                <td>{{word}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        </div>
    </div>

  </div>

<div class="container p-3">
      <a href='/'>
          <button type="button" name="go_back" class="btn btn-sm btn-secondary mb-3" style="width:100%;"><strong>Go Back</strong></button>
      </a>
  </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
